extends layout
block content
 li
 li


 h1 Süleyman Demirel Üniversitesi Bilgisayar Mühendisliği Web Teknolojileri
 h1 dersinde hocayla birlikte yaptığımız mekanbul adlı uygulamanın 
 h1 kaynak kodlarıdır.

 a(href='http://www.asimsinanyuksel.com/web/') Ders sunularına buradan ulaşabilirsiniz.

 
 h2 1411012027 Nafi DURMUŞ



